.ui-bar-a .header-image, .ui-page-theme-a .ui-bar-inherit .header-image, html .ui-bar-a .ui-bar-inherit .header-image, html .ui-body-a .ui-bar-inherit .header-image, html body .ui-group-theme-a .ui-bar-inherit  .header-image{
	width:18px;
	position: absolute;
	right: 57.5px;
	top: 9px;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background-color: #f24c6b;
  border-color: transparent;
  font-weight: normal;
  font-size:16px;
  text-shadow: 0 0px 0 #eee;
  font-family:'web_Yekan';
  color:#ffffff !important;
  height:120px;
  height:36px;
}
.ui-header .ui-title, .ui-footer .ui-title {
  display: block;
  font-size: 14px;
  margin: 0 84px;
  min-height: 1.1em;
  outline: 0 none !important;
  overflow: hidden;
  padding: 9px 0;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  background-color: #e6e6e6;
  border-color: transparent;
  color: #333;
  text-shadow: 0 0px 0 transparent;
}
.menu {
  background-image: url("../images/menu.png");
  background-size: cover;
  border: 0 none !important;
  box-shadow: 0 0 0 transparent;
  height: 35.85px;
  position: absolute;
  right: 0;
  top: 0 !important;
  width: 46.8px;
}
.menu.ui-icon-bars:after {
  background-image: none;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
  background-color: rgba(0, 0, 0, 0);
}
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus {
  box-shadow: 0 0 0 transparent;
}
.ui-btn-icon-notext.ui-btn-corner-all, .ui-btn-icon-notext.ui-corner-all {
  border-radius: 0;
}