.ui-bar-a .header-image, .ui-page-theme-a .ui-bar-inherit .header-image, html .ui-bar-a .ui-bar-inherit .header-image, html .ui-body-a .ui-bar-inherit .header-image, html body .ui-group-theme-a .ui-bar-inherit  .header-image{
	width:18px;
	position: absolute;
	right: 66.5px;
	top: 12px;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background-color: #f24c6b;
  border-color: transparent;
  font-weight: normal;
  font-size:16px;
  text-shadow: 0 0px 0 transparent;
  font-family:'web_Yekan';
  color:#ffffff !important;
  height:120px;
  height:42px;
}
.ui-header .ui-title, .ui-footer .ui-title {
  display: block;
  font-size: 16px;
  margin: 0 94px;
  min-height: 1.1em;
  outline: 0 none !important;
  overflow: hidden;
  padding: 11px 0;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  background-color: #eeeeee;
  border-color: transparent;
  color: #333;
  text-shadow: 0 0px 0 transparent;
}
#header .menu {
  background-image: url("../images/menu.png");
  background-size: cover;
  border: 0 none !important;
  box-shadow: 0 0 0 transparent;
  color: transparent;
  height: 41.82px;
  position: absolute;
  right: 4px;
  top: 1px !important;
  width: 54.6px;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
  background-color: rgba(0, 0, 0, 0);
}
.ui-header.ui-fixed-hidden{
  clip: auto;
  width: auto;
  padding-top: 1px !important;
  top: -1px !important;
  position:fixed  !important;
}
.ui-header.ui-fixed-hidden .menu{
  top: 1px !important;
}
.ui-header-fullscreen, .ui-footer-fullscreen {
  opacity: 1;
  background:#f24c6b;
}
.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
  background-color: #dedede;
  border-color: #ececec;
  color: #fff;
}
.ui-panel-inner .ui-btn-icon-left:after,.ui-panel-inner  .ui-btn-icon-right:after,.ui-panel-inner  .ui-btn-icon-top:after,.ui-panel-inner  .ui-btn-icon-bottom:after,.ui-panel-inner  .ui-btn-icon-notext:after {
  background-color: transparent;
}
.ui-page-theme-b .ui-btn.odd, html .ui-bar-b .ui-btn.odd, html .ui-body-b .ui-btn.odd, html body .ui-group-theme-b .ui-btn.odd, html head + body .ui-btn.ui-btn-b.odd, .ui-page-theme-b .ui-btn.odd:visited, html .ui-bar-b .ui-btn.odd:visited, html .ui-body-b .ui-btn.odd:visited, html body .ui-group-theme-b .ui-btn.odd:visited, html head + body .ui-btn.ui-btn-b.odd:visited {
  background-color: #dedede;
 }
.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head + body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head + body .ui-btn.ui-btn-b:visited {
  background-color: #f4f4f4;
  color:#5f5e5e;
  font-size:16px;
  font-family:'web_Yekan';
 }
.ui-panel-inner li a{
	background:none !important;
}
.ui-icon-carat-r:after {
  background-image: none !important;
}
.ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb {
  min-height: auto;
  padding-left: 0;
  padding-right: 58px;
  text-align: right;
  border:0;
}
.ui-panel-inner li.ui-first-child,.ui-panel-inner li.ui-first-child a{
  background-color: #f24c6b !important;
  color:#ffffff !important;
  height:44px;
 }
.ui-panel-inner li,.ui-panel-inner li a{
  background-color: #ececec !important;
 }
.ui-panel-inner li.odd,.ui-panel-inner li.odd a{
  background-color: #dedede !important;
 }
 .ui-panel-inner li.odd, .ui-panel-inner li a {
  height: 44px;
  min-width: 100px;
  direction:rtl;
}
.ui-listview img {
  border: 0 none !important;
  height: 43.75px;
  left: auto !important;
  position: absolute !important;
  right: 0;
  top: 0 !important;
  width: 49.175px;
}
.ui-listview li.even img {
  border-bottom: 1px solid #f6f6f6 !important;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 1px solid #f6f6f6 !important;
  height:41px;
}
.ui-panel-inner li{
  height:43px;
  overflow:hidden;
}
.ui-panel-inner li a{
  font-weight:normal;
}
.text{
  direction: rtl;
  font-family: web_Yekan;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 180%;
  text-align: justify;
}
.contact{
	margin:0px 17px;
}
hr {
  margin: 16px 70px;
}
#mapCanvas{
  background-image:url('../images/offlinemap.jpg');
  background-position:center center;
  background-repeat:repeat;
  background-size:cover;
  background-attachment:scroll;
  height: 200px;
  width:calc(100% + 32px);
  margin:-16px -16px 0 -16px;
}
#map-canvas{
	width:100%;
	height:200px;
	margin:0;
}
.internet,.nointernet{
  display:none;
}
.ui-input-text input::-moz-placeholder, .ui-input-search input::-moz-placeholder, textarea.ui-input-text::-moz-placeholder {
  color: #000000;
}
input,textarea{
  direction: rtl !important;
  font-family: web_Yekan !important;
  font-size: 15px !important;
  border-radius:10px !important;
  background:#f5f5f5 !important;
  color:#000000 !important;
  padding:10px 14.5px !important;
  border:1px solid #aeaeae !important;
  text-shadow:0 0 0 transparent !important;
  box-shadow:0 0px 0px transparent inset !important;
  width:100%;
  box-sizing:border-box;
  height:40px;
}
textarea{
	height:10px;
}
.submit {
  background-color: #f24c6b !important;
  background-image: url("../images/contact/submit.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  border: 1px solid #f24c6b !important;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  opacity: 1 !important;
}
.cache_clean {
  background-image: url("../images/cache_clean.png") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  margin: 0 auto;
  width: 98%;
}
#contactform .ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
  background: none repeat scroll 0 0 transparent;
  border: 0 solid transparent;
  border-radius: 0;
  height: 20px;
  left: auto;
  right: auto;
  text-shadow: 0 0 0 transparent;
  width: auto;
  text-shadow:0 0 0 transparent !important;
  box-shadow:0 0px 0px transparent inset !important;
}
#myCanvas{
	z-index:1013;
}
body{font-family:"web_Yekan";}
#content{
	direction:rtl;
}
#smgroup_audio_player,#smgroup_audio_player *,#smgroup_audio_player span{
	direction:ltr !important;
}
#play2 {
    display:none;
}
.ui-content {
  padding: 0 !important;
  margin-top:0px !important;
}
#footer{
	position: fixed;
	bottom: 0;
	height: 42px;
	width: 100%;
	text-align: center;
	background-color: #e03e5d;
	z-index: 1000;
}
#header {
  background-color: #f24c6b;
  height: 44px;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1001;
}
#wrapper {
  padding-top: 44px;
}
.header-image {
  height: 19px;
  position: absolute;
  right: 63px;
  top: 12px;
}
#header h1 {
  color: white;
  font-size: 16px;
  line-height: 43px;
  margin-right: 92px;
  text-align: right;
}
body{background:#eeeeee;padding-bottom:45px;}
.blank {
  clear: both;
}

.container a {
  color: #383838 !important;
  font-family: web_yekan;
  font-size: 15px;
  font-weight: normal !important;
}
.container .category-list .list-title a {
  line-height: 41px;
}
.category-desc p.bold.gray .red {
  font-size: 20px;
}
.category-desc p {
  margin-top: 18px;
}
.category-desc p.bold {
  margin-top: 20px;
}
.container p{
	line-height:170%;
	margin-bottom:7px;
}


.ui-panel-wrapper {
  margin-bottom: 0px;
}
.ui-title {
  direction: rtl;
  margin: 0 94px 0 0 !important;
}
.container {
  direction: rtl;
  margin-bottom: 0;
}
#comment_content {
	border: 0 none;
	width: 100%;
	height:1500px;
}
.comment_warpper{

}
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////////START liste fasl ha////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
	*{
		text-decoration:none;
	}
	.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
		color: #383838 !important;
		font-weight: normal !important;
		font-family:web_yekan;
		font-size:15px;
	}
	
	table
	{
		width:100%;
		margin-right:0px;
	}
	tbody tr td
	{
		padding-right:23px;
	}
	tbody tr td.list-title
	{
		padding-left: 50px;
		padding-right: 23px;
		text-align: justify;
	}
	tbody tr
	{
		background-color:#f3f3f3;
		height: 45px;
	}
	tbody tr:nth-child(2n+1)
	{
		background-color:#e4e4e4;
	}
		
	.category-desc p {
		font-family:web_yekan;
		color:#3a3a3a;
	}
	.category-desc img {
		float: right;
		margin-left: 16px;
		margin-top: -4px;
		width: 74px;
	}
	.category-desc .clr {
		clear: both;
	}
	.content-category #adminForm {
		float: right;
		width: 100%;
	}
	.content-category .category-desc {
		margin-bottom: 2px;
		margin-top: -13px;
		padding-top: 21px;
	}
	.red{
		color:#ea3356 !important;
	}
	.gray{
		color:#5e5e5e !important;
	}
	.bold {
		font-size: 20px;
		font-weight: bold;
		line-height: 0;
	}
	.content-category .table.category tr {
		background-image: url("../images/bakhsh-icon/list-icon.png");
		background-position: 22px top;
		background-repeat: no-repeat;
		background-size: 14px 44px;
	}
	
.moduletable_menu .menu{
  background-image: none;
  background-size: cover;
  border: 0 none !important;
  box-shadow: 0 0 0 transparent;
  height: auto;
  position:relative;
  right: auto;
  top: auto;
  width: 100%;
  margin:0;
}
.vg-pages ul.pagination {
  margin-top: 10px !important;
  padding: 0 !important;
}
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////////END liste fasl ha////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
	.blog .image {
		float: right;
		display: block;
		margin:5px;
		height: 90px;
		width: 80px;
		background-color: #c2c2c2;
		z-index: 100;
	}
	.blog p {
			font-family: "web_Yekan";
			margin-right: 91px;
			padding-left: 14px;
			padding-top: 0;
			margin-bottom: 0;
	}
	.blog .vg-pages.vg-table-display.a-center {
	  font-family: "web_Yekan";
	  height: 42px;
	  padding-bottom: 0;
	  padding-top: 0px;
	  text-align: center;
	  width: 100%;
		bottom: 0 !important;
		left: 0 !important;
		position: fixed !important;
		z-index:200000 !important;
	}
	.vg-pages.vg-table-display.a-center {
	  background: none repeat scroll 0 0 #e03e5d;
	}
	.blog  h4 a {
		color: #e03e5d !important;
		font-family: "web_Yekan";
		text-decoration: none;
		font-weight: bold !important;
	}
	.blog  h4{ 
		margin: 0;
		padding-bottom: 0;
		padding-right: 92px !important;
		padding-top: 6px !important;
		text-align: right;
		font-weight: bold !important;
		color: #e03e5d !important;
	}
	.blog  p.counter {
		display: none;
	}
	.blog .items-row.cols-1{
		float:right;
		background:#e6e6e6;	
		width: 100%;
	}
	.blog .items-row.cols-1:nth-child(2n+1){
		background:#efefef;
	}
	.blog .smcms-intro-text {
		padding-top: 0;
		margin-top: -8px;
	}
	.blog a.vg-page {
		background-color: #f5738d;
		border-radius: 40px;
		color: white !important;
		display: inline-block;
		font-size: 16px;
		height: 25px;
		line-height: 22px;
		margin-right: 9px;
		width: 25px !important;
		z-index: 10000000;
	}
	.blog a.vg-page.vg-pages-active {
	  background-color: #ffffff !important;
	  color: #f34b6c !important;
	}
	.blog .fasele {
	  margin-bottom: 0px;
	  float: right;
	}
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////////END blog item////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
.list-cat .content-category .category-desc {
margin-top: -16px;
padding-top: 12px;
}
.list-cat tbody tr td {
padding-right: 69px;
}
.list-cat tbody tr {
background: none repeat scroll 0 0 #dedede !important;
height: 45px !important;
background-image: url(../images/bakhsh-icon/Dark-10.png) !important;
background-repeat: no-repeat !important;
background-size: 51px 51px !important;
background-position:right center !important;
}
.list-cat tbody tr:nth-child(2n+1) {
background: none repeat scroll 0 0 #ebebeb !important;
background-image: url(../images/bakhsh-icon/Light-10.png) !important;
background-repeat: no-repeat !important;
background-size: 51px 51px !important;
background-position:right center !important;
}
.list-cat.icon1 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-01.png) !important;
}
.list-cat.icon1 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-01.png) !important;
}
.list-cat.icon2 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-02.png) !important;
}
.list-cat.icon2 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-02.png) !important;
}
.list-cat.icon3 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-03.png) !important;
}
.list-cat.icon3:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-03.png) !important;
}
.list-cat.icon4 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-04.png) !important;
}
.list-cat.icon4 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-04.png) !important;
}
.list-cat.icon5 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-05.png) !important;
}
.list-cat.icon5 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-05.png) !important;
}
.list-cat.icon6 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-06.png) !important;
}
.list-cat.icon6 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-06.png) !important;
}
.list-cat.icon7 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-07.png) !important;
}
.list-cat.icon7 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-07.png) !important;
}
.list-cat.icon8 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-08.png) !important;
}
.list-cat.icon8 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-08.png) !important;
}
.list-cat.icon9 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-09.png) !important;
}
.list-cat.icon9 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-09.png) !important;
}
.list-cat.icon10 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-10.png) !important;
}
.list-cat.icon10 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-10.png) !important;
}
.list-cat.icon11 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-11.png) !important;
}
.list-cat.icon11 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-11.png) !important;
}
.list-cat.icon12 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-12.png) !important;
}
.list-cat.icon12 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-12.png) !important;
}
.list-cat.icon13 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-13.png) !important;
}
.list-cat.icon13 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-13.png) !important;
}
.list-cat.icon14 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-14.png) !important;
}
.list-cat.icon14 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-14.png) !important;
}
.list-cat.icon15 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-15.png) !important;
}
.list-cat.icon15 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-15.png) !important;
}
.list-cat.icon16 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-16.png) !important;
}
.list-cat.icon16 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-16.png) !important;
}
.list-cat.icon17 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-17.png) !important;
}
.list-cat.icon17 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-17.png) !important;
}
.list-cat.icon18 tbody tr
{
	background-image: url(../images/bakhsh-icon/Dark-18.png) !important;
}
.list-cat.icon18 tbody tr:nth-child(2n+1) 
{
	background-image: url(../images/bakhsh-icon/Light-18.png) !important;
}

/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////////END bakhsh list item////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
.moduletable_menu .menu li {
	background-color: #dedede !important;
	height: 33px;
	list-style: outside none none;
	margin-right: 0px;
	padding-right: 69px;
	padding-top: 12px;
	background-image: url(../images/bakhsh-icon/Dark-10.png) !important;
	background-repeat: no-repeat !important;
	background-size: 51px 51px !important;
	background-position:right center !important;
}
.moduletable_menu .menu li:nth-child(2n+1)
{
	background-color:#ebebeb !important;
	background-image: url(../images/bakhsh-icon/Light-10.png) !important;
	background-repeat: no-repeat !important;
	background-size: 51px 51px !important;
	background-position:right center !important;
}

.icon1 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-01.png) !important;
}
.icon1 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-01.png) !important;
}
.icon2 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-02.png) !important;
}
.icon2 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-02.png) !important;
}
.icon3 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-03.png) !important;
}
.icon3 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-03.png) !important;
}
.icon4 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-04.png) !important;
}
.icon4 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-04.png) !important;
}
.icon5 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-05.png) !important;
}
.icon5 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-05.png) !important;
}
.icon6 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-06.png) !important;
}
.icon6 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-06.png) !important;
}
.icon7 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-07.png) !important;
}
.icon7 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-07.png) !important;
}
.icon8 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-08.png) !important;
}
.icon8 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-08.png) !important;
}
.icon9 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-09.png) !important;
}
.icon9 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-09.png) !important;
}
.icon10 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-10.png) !important;
}
.icon10 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-10.png) !important;
}
.icon11 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-11.png) !important;
}
.icon11 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-11.png) !important;
}
.icon12 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-12.png) !important;
}
.icon12 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-12.png) !important;
}
.icon13 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-13.png) !important;
}
.icon13 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-13.png) !important;
}
.icon14 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-14.png) !important;
}
.icon14 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-14.png) !important;
}
.icon15 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-15.png) !important;
}
.icon15 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-15.png) !important;
}
.icon16 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-16.png) !important;
}
.icon16 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-16.png) !important;
}
.icon17 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-17.png) !important;
}
.icon17 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-17.png) !important;
}
.icon18 .moduletable_menu .menu li
{
	background-image: url(../images/bakhsh-icon/Dark-18.png) !important;
}
.icon18 .moduletable_menu .menu li:nth-child(2n+1)
{
	background-image: url(../images/bakhsh-icon/Light-18.png) !important;
}
.moduletable_menu .menu li.icon1.dark
{
	background-image: url(../images/bakhsh-icon/Dark-01.png) !important;
}
.moduletable_menu .menu li.icon1
{
	background-image: url(../images/bakhsh-icon/Light-01.png) !important;
}
.moduletable_menu .menu li.icon2.dark
{
	background-image: url(../images/bakhsh-icon/Dark-02.png) !important;
}
.moduletable_menu .menu li.icon2
{
	background-image: url(../images/bakhsh-icon/Light-02.png) !important;
}
.moduletable_menu .menu li.icon3.dark
{
	background-image: url(../images/bakhsh-icon/Dark-03.png) !important;
}
.moduletable_menu .menu li.icon3
{
	background-image: url(../images/bakhsh-icon/Light-03.png) !important;
}
.moduletable_menu .menu li.icon4.dark
{
	background-image: url(../images/bakhsh-icon/Dark-04.png) !important;
}
.moduletable_menu .menu li.icon4
{
	background-image: url(../images/bakhsh-icon/Light-04.png) !important;
}
.moduletable_menu .menu li.icon5.dark
{
	background-image: url(../images/bakhsh-icon/Dark-05.png) !important;
}
.moduletable_menu .menu li.icon5
{
	background-image: url(../images/bakhsh-icon/Light-05.png) !important;
}
.moduletable_menu .menu li.icon6.dark
{
	background-image: url(../images/bakhsh-icon/Dark-06.png) !important;
}
.moduletable_menu .menu li.icon6
{
	background-image: url(../images/bakhsh-icon/Light-06.png) !important;
}
.moduletable_menu .menu li.icon7.dark
{
	background-image: url(../images/bakhsh-icon/Dark-07.png) !important;
}
.moduletable_menu .menu li.icon7
{
	background-image: url(../images/bakhsh-icon/Light-07.png) !important;
}
.moduletable_menu .menu li.icon8.dark
{
	background-image: url(../images/bakhsh-icon/Dark-08.png) !important;
}
.moduletable_menu .menu li.icon8
{
	background-image: url(../images/bakhsh-icon/Light-08.png) !important;
}
.moduletable_menu .menu li.icon9.dark
{
	background-image: url(../images/bakhsh-icon/Dark-09.png) !important;
}
.moduletable_menu .menu li.icon9
{
	background-image: url(../images/bakhsh-icon/Light-09.png) !important;
}
.moduletable_menu .menu li.icon10.dark
{
	background-image: url(../images/bakhsh-icon/Dark-10.png) !important;
}
.moduletable_menu .menu li.icon10
{
	background-image: url(../images/bakhsh-icon/Light-10.png) !important;
}
.moduletable_menu .menu li.icon11.dark
{
	background-image: url(../images/bakhsh-icon/Dark-11.png) !important;
}
.moduletable_menu .menu li.icon11
{
	background-image: url(../images/bakhsh-icon/Light-11.png) !important;
}
.moduletable_menu .menu li.icon12.dark
{
	background-image: url(../images/bakhsh-icon/Dark-12.png) !important;
}
.moduletable_menu .menu li.icon12
{
	background-image: url(../images/bakhsh-icon/Light-12.png) !important;
}
.moduletable_menu .menu li.icon13.dark
{
	background-image: url(../images/bakhsh-icon/Dark-13.png) !important;
}
.moduletable_menu .menu li.icon13
{
	background-image: url(../images/bakhsh-icon/Light-13.png) !important;
}
.moduletable_menu .menu li.icon14.dark
{
	background-image: url(../images/bakhsh-icon/Dark-14.png) !important;
}
.moduletable_menu .menu li.icon14
{
	background-image: url(../images/bakhsh-icon/Light-14.png) !important;
}
.moduletable_menu .menu li.icon15.dark
{
	background-image: url(../images/bakhsh-icon/Dark-15.png) !important;
}
.moduletable_menu .menu li.icon15
{
	background-image: url(../images/bakhsh-icon/Light-15.png) !important;
}
.moduletable_menu .menu li.icon16.dark
{
	background-image: url(../images/bakhsh-icon/Dark-16.png) !important;
}
.moduletable_menu .menu li.icon16
{
	background-image: url(../images/bakhsh-icon/Light-16.png) !important;
}
.moduletable_menu .menu li.icon17.dark
{
	background-image: url(../images/bakhsh-icon/Dark-17.png) !important;
}
.moduletable_menu .menu li.icon17
{
	background-image: url(../images/bakhsh-icon/Light-17.png) !important;
}
.moduletable_menu .menu li.icon18.dark
{
	background-image: url(../images/bakhsh-icon/Dark-18.png) !important;
}
.moduletable_menu .menu li.icon18
{
	background-image: url(../images/bakhsh-icon/Light-18.png) !important;
}
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////////END bakhsh MENU item////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////////coomment start////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
#jc  h4 {
	display:none;
}
.page-header h2{display:none}
#jc  span.comment-date {
display: none;
}
#jc .comment-anchor {
  background-color: gray;
  border-radius: 2em;
  color: #ffffff !important;
  height: 32px;
  margin-right: 2px;
  margin-top: -12px;
  padding-top: 12px;
  position: absolute;
  text-align: center;
  width: 45px;
}
#jc .ui-body-a,#jc  .ui-page-theme-a .ui-body-inherit,#jc  html .ui-bar-a .ui-body-inherit,#jc  html .ui-body-a .ui-body-inherit,#jc  html body .ui-group-theme-a .ui-body-inherit,#jc  html .ui-panel-page-container-a {
  background-color: #f2f2f2;
  border-color: #ddd;
  box-shadow: 0 0 0 transparent;
  color: #333;
  text-shadow: 0 0 0 transparent !important;
}
#jc  span.comment-author {
	color: #f24c6b;
	font-weight: bold;
	font-size: 19px;
	margin-right: 60px;
	color: transparent !important;
}

#jc  span.comments-buttons {
	background-image: url(../images/nazardehi/arrow.png);
	color: red;
	background-size: 28px;
	background-repeat: no-repeat;
	/* background-color: gray; */
	width: 60px;
	height: 54px;
	float: left;
	position: absolute; 
	left: -28px;
	top: -8px;
	background-position: 22px 8px;
	

}

#jc  div#comments {
width: 75%;
display: block;
margin: 0 auto;
}
#jc  .comment-body {
width: 100%;
background-color: #dbdbdb;
border-radius: 12px;
/* height: 98px; */
margin-top: 25px;
line-height: 45px;
padding-right: 13px;
word-wrap: break-word;
}

#jc .comment-box {
margin-top: 37px;
}
#jc a.refresh {
display: none;
}
#jc .page-header{display:none}


#jc form#comments-form {
width: 76%;
display: block;
margin: 0 auto;
padding-right: 14px;
}
#jc form#comments-form input{
	text-align:right
}
#jc .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
	border:none
}
#jc div#comments-footer {
display: none;
}
#jc .btn  a {
display: block;
overflow:hidden;
color: transparent !important;
}
#jc div#comments-form-send {
	background-image: url(../images/contact/submit.png);
	background-position: center;
	background-size: 77px;
	background-repeat: no-repeat;
	width: 100%;
	background-color: #f24c6b;
	border-radius: 8px;
	height: 39px;
	padding-top: 1px;
	margin-bottom: 23px;

}
#jc .comments-buttons a{
	color:transparent !important;
}
#jc label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off {
text-align: right;
}
#jc label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on {
text-align: right;
}
#jc .comment-box {
position: relative;
}

/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////////coomment end////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////have image statrt////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/


.article-info {
display: none;
}
.haveimage p{
	text-align: justify;
	padding-right: 13px;
	padding-left: 13px;
}
.haveimage h2.contentheading {
	background: none !important;
	font-weight: bold !important;
	height: 38px;
	margin-top: 0px !important;
	padding-top: 10px !important;
	padding-right:7px !important;
	width: 100%;
	margin-bottom: -16px;
}
.haveimage h2.contentheading  a{
	background:none !important;
color: #f24c6b !important;
padding-right: 11px !important;
}
.haveimage .img-fulltext.left  img {
width: 100%;
height: 100%;
}
.haveimage .img-fulltext {
  margin: 5px auto 0;
  max-width: 500px;
  text-align: center;
  width: 100%;
}
.haveimage {
position: relative;
overflow: hidden;
background-color:#f4f4f4;
}
.haveimage  a.iframe {
color: transparent !important;
background-image: url(../images/comment.png);
display: block;
background-position: center;
background-repeat: no-repeat;
background-size: 81px;
height: 42px;
}

.haveimage div#comment {
  background-color: #f24c6b;
  bottom: 0;
  height: 42px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 20000;
}
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////have image end////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
.noimage p {
margin-right: 17px;
padding-left: 17px;
}
.noimage h2.contentheading a {
  color: #e43c5f !important;
  font-size: 17px;
  font-weight: bold !important;
  margin-right: -40px;
  margin-top: 0;
  width: 100%;
  
  
  background-image: url("../images/title-bg2.png") !important;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  
padding-right: 40px;
min-height: 55px;
}



.noimage h2.contentheading {
  background-color: #e1e1e1 !important;
  line-height: 55px;
  margin: 4px 0 6px 0;
  min-height: 55px;
  padding-right: 65px;
}
.item-page.noimage {
  margin-top: 0px;
}

.noimage  a.iframe {
color: transparent !important;
background-image: url(../images/comment.png);
display: block;
background-position: center;
background-repeat: no-repeat;
background-size: 81px;
height: 42px;
}

.noimage div#comment {
  background-color: #f24c6b;
  bottom: 0;
  height: 42px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 20000;
}
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////no image END////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
textarea{min-height:100px;}

#mainbook{
	float:right;
	width:100%;
	font-family:'web_Yekan';
	direction:rtl;
}
#mainbook .bookimage img {
float: right;
width: 74px;
height: 90px;
margin-top: 2px;
}
#mainbook .bookimage {
  margin-bottom: 1px;
  margin-right: 2px;
}
div#bookname {
/* float: left; */
text-align: right;
position: relative;
direction: rtl;
word-wrap: break-word;
font-weight: bold;
margin-top: 10px;
margin-right: 95px;
color:#5d5d5d;
/* word-wrap: break-word; */
/* padding-right: 40px; */
}
#mainbook span.name {
color: #ea3356;
}
#mainbook span.masterimage img {
width: 40px;
height: 40px;
border-radius: 2em;
position: absolute;
right: 95px;
}
#mainbook span.mastername {
/* text-align: right; */
position: absolute;
right: 269px;
text-align: right;
direction: rtl;
padding-left: 17px;
margin-top:10px;
color:#3a3a3a;
}
/*
#mainbook span.masterdufaultname {
position: absolute;
right: 147px;
margin-top:10px;
color:#3a3a3a;
}
*/
#mainbook span.masterdufaultname {
  color: #3a3a3a;
  display: block;
  margin-right: 145px;
  margin-top: 10px;
  right: 147px;
}
#mainbook .tik {
    background-image: url("../images/tik.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    float: right;
    height: 15px;
    position: absolute;
    right: 100px;
    width: 15px;
    z-index: 58;
}
#mainbook #master {
    margin-top: 9px;
}
#mainbook div#row {
position: relative;
clear: both;
float: right;
width: 100%;
	min-height: 93px;
	
}
#mainbook #row.odd
 {
        background-color:#e4e4e4;
}

/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////book page END////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
#reg_div {
	width:100%;
	text-align:center;
}
#reg_div .reg_btn {
  background-color: #f24c6b;
  border: medium none;
  border-radius: 8px;
  color: #ffffff;
  display: block;
  font-size: 17px;
  height: 57px;
  line-height: 25px;
  margin: 10px auto;
  padding-top: 8px;
  text-align: center;
  width: 257px;
}
#reg_div span {
  font-size: 15px;
}
#reg_div #desc {
  line-height: 200%;
  margin-bottom: 30px;
  margin-top: 100px;
  width: 100%;
}

.mainmenu {
  margin-top: 5px;
}
.mainmenu td{
	width:33%;
}
.mainmenu td {
  padding-right: 0 !important;
}
.mainmenu tr ,.mainmenu tr:nth-child(2n+1) {
  background: none !important;
  height: auto !important;
}
.mainmenu img {
  width: 97%;
  margin: 0 !important;
  padding: 0 !important;
}
.mainmenu tr,.mainmenu td {
  margin: 0 !important;
  padding: 0 !important;
}
*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////Toggle check box START////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
input#toggle {
max-height: 0;
max-width: 0;
opacity: 0;
} 
input#toggle + label {
display: block;
position: relative;
box-shadow: inset 0 0 0px 1px #d5d5d5;
text-indent: -5000px;
height: 30px;
width: 50px;
border-radius: 15px;
background:none repeat scroll 0 0 rgba(139, 168, 183, 1);
}

input#toggle + label:before {
content: "";
position: absolute;
display: block;
height: 30px;
width: 30px;
top: 0;
left: 0;
border-radius: 15px;
background: rgba(19,191,17,0);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

input#toggle + label:after {
content: "";
position: absolute;
display: block;
height: 30px;
width: 30px;
top: 0;
left: 0px;
border-radius: 15px;
background: white;
box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
} 
input#toggle:checked + label:before {
width: 50px;
background: #41b38f;
}

input#toggle:checked + label:after {
left: 20px;
box-shadow: inset 0 0 0 1px #41b38f, 0 2px 4px rgba(0,0,0,.2);
} 
/*
/////////////////////////////////////////////////////////////////////////////////////////
////////////Toggle check box END////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
*/
#backBTN {
  background-image: url("../images/back.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}
#controls {
  background: none repeat scroll 0 0 #333;
  bottom: 34px;
  float: left;
  left: 0;
  margin: 0 5px 5px 0;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 34px;
  z-index: 1000;
}
#controls a {
  color: #c3c3c3 !important;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 20px;
  margin: 0;
  padding: 4px 4px 4px 0px;
  text-decoration: none;
}
#controls a:hover{
	color:#fff;
	background:#000;
}
#controls a.selected{
	background:#000;
    color:#fff !important;
}
#controls #small     {  font-size:13px !important;padding: 10px 5px 3px 0;}
#controls #medium    {  font-size:19px !important;padding:7px 4px 10px 0;border-bottom:1px solid black;border-top:1px solid black}
#controls #large     {  font-size:27px  !important;padding: 2px 8px 17px 6px;}




















